# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.tox/
.coverage
.coverage.*
.cache

*.log


# Flask stuff:
instance/
.webassets-cache

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version


# dotenv
.env

# virtualenv
venv/
ENV/


# Rope project settings
.ropeproject
.idea/


# release version
hack/

models/
ui/
docker/

p300_h512_x1/
dgk_shooter_min.*
